<table>
    <thead>
      <tr>
        <th>Prato</th>
        <th>Ingredientes</th>
        <th>Preço</th>
      </tr>
    </thead>
    <tbody>
      {linha}
      <tr>
        <td>{prato}</td>
        <td>{ingredientes}</td>
        <td>{preco}</td>
        <td>
          <button type="button">Editar</button>
        </td>
        <td>
          <button
            type="button"
            onclick="if(confirm('Deseja realmente apagar?'))
              location.href='?class=Tabela&method=remover&id={id}'"
          >
            Remover
          </button>
        </td>
      </tr>
      {/linha}
    </tbody>
  </table>